/* Container for the entire login form */
.admin-login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../../assets/flat-design-with-headphones-and-laptop-illustration-ai-generative-free-photo.jpg'); /* Update with the correct path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  background-color: #f4f4f9;
}

/* Form styling */
.admin-login-form {
  background-color: #d0d6fb;
  font-family: "Afacad Flux", sans-serif;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

/* Title styling */
.admin-login-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
  color: #002a56;
}

/* Form group for inputs */
.form-group {
  margin-bottom: 20px;
}

/* Label styling */
.admin-form-label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 16px;
  color: #002a56;
}

/* Input styling */
.form-input {
  width: 100%;
  padding: 10px;
  border: none; /* Remove default border */
  border-bottom: 1px solid #ccc; /* Add bottom border for underline effect */
  border-radius: 10px; /* Remove border radius for a clean underline */
  font-size: 16px;
  transition: border-bottom-color 0.3s ease; /* Smooth transition for underline color */
}

/* Underline effect on hover */
.form-input:hover {
  border-bottom-color: #002a56; /* Change color of underline on hover */
  border-width: 3px;
}

/* Input focus effect */
.form-input:focus {
  border-bottom-color: #002a56; /* Change color of underline on focus */
  outline: none; /* Remove default outline */
}

/* Button styling */
.btn-login {
  width: 100%;
  padding: 12px;
  background-color: #002a56;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-login:hover {
  background-color: #0056b3;
}

.btn-login:disabled {
  background-color: #c0c0c0;
  cursor: not-allowed;
}

/* Error message styling */
.login-error {
  margin-top: 10px;
  color: red;
  text-align: center;
  font-size: 14px;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .admin-login-form {
    padding: 20px;
  }

  .form-input {
    font-size: 14px;
  }

  .btn-login {
    padding: 10px;
    font-size: 14px;
  }
}
