
.all-users-container {
  background-image: url('../../../assets/flat-design-with-headphones-and-laptop-illustration-ai-generative-free-photo.jpg'); /* Update with the correct path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px;
  padding-left: 50px;
  padding-right: 50px;
  font-family: "Afacad Flux", sans-serif;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.users-container{
  max-width: 90%;
  margin: 40px auto;
  background-color: #d0d6fb;
  padding-left: 90px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 90px;
  border-radius: 15px;
}

.user-list-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 35px;
  font-weight: 600;
  color: #333;
}

.user-list-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
 
}

.user-list-table th, .user-list-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  font-size: 18px;
  border-radius: 7px;
  
}

.user-list-table th {
  background-color: #002a56; /* Darker blue for a more professional feel */
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 20px;
}

.user-item {
  background-color: #fff;
}

.user-item:nth-child(even) {
  background-color: #f1f1f1;
}

.user-status {
  font-weight: bold;
}

.pending {
  color: #f39c12;
}

.requested {
  color: #e74c3c;
}

.active{
  color: #09b303;
}

.activate-button, .reactivate-button {
  padding: 10px 15px;
  font-size: 18px;
  color: #fff;
  background-color: #3498db;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.activate-button:hover, .reactivate-button:hover {
  background-color: #2980b9;
}
